*{
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
#sfondo{
    background-color: #59c5f0;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-size: 30%;
    height: 100px;
}
#logo{
    width: 250px;
    padding: 0;

}

/* MAIN */
main{
    margin: 15px;
}

#sottotitolo{
    color: gray;
}

a{
    text-decoration: none;
}

#bio{
    font-size: 14px;
}

#text{
    margin-top: 15px;
}

.giallo{
    background-color: yellow;
}

#list{
    margin-top: 15px;
}

.tabella{
    margin-top: 15px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#title{
    background-color: rgb(42, 164, 212);
    height: 20px;
    color: white;
}

.text-table1{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: skyblue;
}